<div>
    <div><b i18n>Asymmetric Encryption Demo</b></div>
    <div>
        <span i18n>Quellen:</span>
        <a
            href="https://www.onebigfluke.com/2013/11/public-key-crypto-math-explained.html"
            target="_blank"
            i18n
            i18n-href
            >One Big Fluke</a
        >,
        <a href="https://de.wikipedia.org/wiki/RSA-Kryptosystem" target="_blank" i18n i18n-href
            >Wikipedia RSA-Kryptosystem</a
        >.
    </div>
</div>
<div class="links">
    <a href="https://github.com/thred/asymmetric-encryption-demo" target="_blank" i18n i18n-href>GitHub Repository</a>
</div>
