:host {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #ccc;
    opacity: 0.5;
    font-size: 80%;
}
