<p>Das Schlüsselpaar (Public und Private Key genannt) wird aus zwei <b>sehr großen Primzahlen</b> p und q erzeugt.</p>

<p>
    Um das Verfahren zu demonstrieren, verwenden wir
    <b>sehr kleine <a href="https://de.wikipedia.org/wiki/Primzahl" target="_blank">Primzahlen</a></b
    >. <span class="text-error">Das ist aber nicht sicher!</span> Um das Verfahren wirklich sicher zu machen, müssten
    wir zwei Primzahlen mit mehr als 600 Stellen verwenden (2 × 2048-Bit).
</p>

<p class="text-hint">Drücke den <mat-icon inline>casino</mat-icon> Würfel, um eine passende Zufallszahl zu finden.</p>

<form #form>
    <div class="two-columns">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Primzahl p</mat-label>
                <input
                    matInput
                    [(ngModel)]="p"
                    name="p"
                    type="number"
                    required
                    min="3"
                    [errorStateMatcher]="pErrorStateMatcher"
                />
                <button
                    mat-icon-button
                    matIconSuffix
                    (click)="randomizeP()"
                    [attr.aria-label]="'Passende Zufallszahl erzeugen'"
                    title="Passende Zufallszahl erzeugen"
                >
                    <mat-icon>casino</mat-icon>
                </button>
                <mat-error>Der Wert p muss eine Primzahl &ge; 3 sein.</mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Primzahl q</mat-label>
                <input
                    matInput
                    [(ngModel)]="q"
                    name="q"
                    type="number"
                    required
                    min="3"
                    [errorStateMatcher]="qErrorStateMatcher"
                />
                <button
                    mat-icon-button
                    matIconSuffix
                    (click)="randomizeQ()"
                    [attr.aria-label]="'Passende Zufallszahl erzeugen'"
                    title="Passende Zufallszahl erzeugen"
                >
                    <mat-icon>casino</mat-icon>
                </button>
                <mat-error>Der Wert q muss eine Primzahl &ge; 3 sein.</mat-error>
            </mat-form-field>
        </p>
    </div>

    <div class="two-columns">
        <div>
            <p>Die zwei Primzahlen p und q werden multipliziert.</p>

            <p class="text-info">
                Diese Zahl ist öffentlich bekannt. Wenn die Primzahlen groß genug sind, dann kann man sie nicht mehr
                ermitteln.
            </p>
        </div>

        <div>
            <div class="chalkboard">
                <p>
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mrow>
                            <mi>n</mi>
                            <mo>=</mo>
                            <mi>p</mi>
                            <mo>×</mo>
                            <mi>q</mi>
                        </mrow>
                    </math>
                </p>

                <p>
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mrow>
                            <mi>n</mi>
                            <mo>=</mo>
                            <mi>{{ p() }}</mi>
                            <mo>×</mo>
                            <mi>{{ q() }}</mi>
                        </mrow>
                    </math>
                </p>

                <p>
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mrow class="text-strong">
                            <mi>n</mi>
                            <mo>=</mo>
                            <mi>{{ n() }}</mi>
                        </mrow>
                    </math>
                </p>
            </div>
        </div>
    </div>

    <div class="two-columns">
        <p>
            Die
            <a href="https://de.wikipedia.org/wiki/Eulersche_Phi-Funktion" target="_blank">Eulersche &phi;-Funktion</a>
            wird angewendet.
        </p>

        <div>
            <div class="chalkboard">
                <p>
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mrow>
                            <mo>&phi;</mo>
                            <mo>(</mo>
                            <mi>n</mi>
                            <mo>)</mo>
                            <mo>=</mo>
                            <mo>(</mo>
                            <mi>p</mi>
                            <mo>-</mo>
                            <mn>1</mn>
                            <mo>)</mo>
                            <mo>×</mo>
                            <mo>(</mo>
                            <mi>q</mi>
                            <mo>-</mo>
                            <mn>1</mn>
                            <mo>)</mo>
                        </mrow>
                    </math>
                </p>

                <p>
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mrow>
                            <mo>&phi;</mo>
                            <mo>(</mo>
                            <mi> {{ n() }}</mi>
                            <mo>)</mo>
                            <mo>=</mo>
                            <mo>(</mo>
                            <mi>{{ p() }}</mi>
                            <mo>-</mo>
                            <mn>1</mn>
                            <mo>)</mo>
                            <mo>×</mo>
                            <mo>(</mo>
                            <mi>{{ q() }}</mi>
                            <mo>-</mo>
                            <mn>1</mn>
                            <mo>)</mo>
                        </mrow>
                    </math>
                </p>

                <p>
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mrow class="text-strong">
                            <mo>&phi;</mo>
                            <mo>(</mo>
                            <mi> {{ n() }}</mi>
                            <mo>)</mo>
                            <mo>=</mo>
                            <mi>{{ phi() }}</mi>
                        </mrow>
                    </math>
                </p>
            </div>
        </div>
    </div>

    <div class="two-columns">
        <p>
            Eine Zufallszahl e wird gewählt, die kleiner als &phi; und
            <a href="https://de.wikipedia.org/wiki/Teilerfremdheit" target="_blank">teilerfremd</a> zu &phi; ist.
        </p>

        <div>
            <div class="chalkboard">
                <p>
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mrow>
                            <mn>1</mn>
                            <mo>&lt;</mo>
                            <mi>e</mi>
                            <mo>&lt;</mo>
                            <mo>&phi;</mo>
                            <mo>(</mo>
                            <mi>n</mi>
                            <mo>)</mo>
                        </mrow>
                    </math>
                </p>

                <p>
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mrow>
                            <mn>1</mn>
                            <mo>&lt;</mo>
                            <mi>e</mi>
                            <mo>&lt;</mo>
                            <mi>{{ phi() }}</mi>
                        </mrow>
                    </math>
                </p>
            </div>
        </div>
    </div>

    <p>
        <mat-form-field appearance="fill">
            <mat-label>Zufallszahl e</mat-label>
            <input
                matInput
                [(ngModel)]="e"
                name="e"
                type="number"
                required
                min="2"
                [max]="phi() - 1"
                [errorStateMatcher]="eErrorStateMatcher()"
            />
            <button
                mat-icon-button
                matIconSuffix
                (click)="randomizeE()"
                [attr.aria-label]="'Passende Zufallszahl erzeugen'"
                title="Passende Zufallszahl erzeugen"
            >
                <mat-icon>casino</mat-icon>
            </button>
            <mat-error> Der Wert e muss &le; {{ phi() }} und teilerfremd zu {{ phi() }} sein. </mat-error>
            <mat-hint>Diese Zahl ist Teil des öffentlichen Schlüssels.</mat-hint>
        </mat-form-field>
    </p>

    <div class="two-columns">
        <div>
            <p>
                Der Wert d wird mit Hilfe der
                <a href="https://en.wikipedia.org/wiki/Modular_multiplicative_inverse" target="_blank"
                    >modularen multiplikativen Inverse</a
                >
                berechnet.
            </p>

            <p class="text-info">
                Diese Zahl ist Teil des privaten Schlüssels und daher geheim. Sie darf <b>nicht</b> veröffentlicht
                werden.
            </p>
        </div>

        <div>
            <div class="chalkboard">
                <p>
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mrow>
                            <msup>
                                <mi>e</mi>
                                <mo>-1</mo>
                            </msup>
                            <mo>=</mo>
                            <mi>d</mi>
                            <mo>(</mo>
                            <mo>mod</mo>
                            <mo>&phi;</mo>
                            <mo>(</mo>
                            <mi>n</mi>
                            <mo>)</mo>
                            <mo>)</mo>
                        </mrow>
                    </math>
                </p>

                <p>
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mrow>
                            <mi>d</mi>
                            <mo>=</mo>
                            <mfrac>
                                <mrow>
                                    <mn>1</mn>
                                    <mo>(</mo>
                                    <mo>mod</mo>
                                    <mo>{{ phi() }}</mo>
                                    <mo>)</mo>
                                </mrow>
                                <mi>{{ e() }}</mi>
                            </mfrac>
                        </mrow>
                    </math>
                </p>

                <p>
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mrow class="text-strong">
                            <mi>d</mi>
                            <mo>=</mo>
                            <mi>{{ d() }}</mi>
                        </mrow>
                    </math>
                </p>
            </div>
        </div>
    </div>

    <p class="text-center"><b>Klicke auf den Button, um das Schlüsselpaar zu erzeugen.</b></p>

    @if (!canUpdate()) {
        <p class="text-center text-error">
            Behebe zuerst noch die Fehler in den Eingabefeldern weiter oben oder
            <a class="clickable" (click)="reset($event)">setzte die Eingabefelder zurück</a>!
        </p>
    } @else if (e() == d()) {
        <p class="text-center text-error">
            Die Werte von e und d sind gleich. Wähle andere Primzahlen oder finde eine andere Zahl für e!
        </p>

        <p class="text-center text-error">
            Du kannst auch die <a class="clickable" (click)="reset($event)">Eingabefelder zurücksetzen</a>!
        </p>
    }

    <p class="text-center">
        <button
            mat-flat-button
            color="primary"
            [class.shake-animation]="shouldUpdate()"
            [disabled]="!canUpdate()"
            (click)="generateKeyPair()"
        >
            Schlüsselpaar erzeugen
        </button>
    </p>
</form>
