<div>
    <h3 i18n>Text verschlüsseln</h3>

    <p>
        <mat-form-field appearance="fill">
            <mat-label i18n>Text</mat-label>
            <textarea matInput [(ngModel)]="sourceText" required rows="5" maxlength="1024"></textarea>
            <button
                mat-icon-button
                matIconSuffix
                (click)="randomize($event)"
                [attr.aria-label]="'Zufälliger Text'"
                title="Zufälliger Text"
                i18n-title
            >
                <mat-icon>casino</mat-icon>
            </button>
        </mat-form-field>
    </p>

    <p i18n>Der Text wird mit dem <b>öffentlichen Schlüssel</b> (n, e) verschlüsselt.</p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label i18n>Verschlüsselter Text</mat-label>
            <textarea matInput [ngModel]="encodedSourceText()" readonly rows="5"></textarea>
            <button
                mat-icon-button
                matIconSuffix
                [appCopy]="encodedSourceText()"
                [attr.aria-label]="'Verschlüsselten Text kopieren'"
                title="Verschlüsselten Text kopieren"
                i18n-title
            >
                <mat-icon>content_copy</mat-icon>
            </button>
        </mat-form-field>
    </p>
</div>

<div>
    <h3 i18n>Text entschlüsseln</h3>

    <p>
        <mat-form-field appearance="fill">
            <mat-label i18n>Verschlüsselter Text</mat-label>
            <textarea
                matInput
                [(ngModel)]="targetText"
                [disabled]="linked()"
                required
                rows="5"
                maxlength="2048"
            ></textarea>
            <button
                mat-icon-button
                matIconSuffix
                (click)="toggleLinked()"
                [attr.aria-label]="'Automatisch von verschlüsseltem Text übernehmen'"
                title="Automatisch von verschlüsseltem Text übernehmen"
                i18n-title
            >
                @if (linked()) {
                    <mat-icon>link</mat-icon>
                } @else {
                    <mat-icon>link_off</mat-icon>
                }
            </button>

            @if (linked()) {
                <mat-hint align="end" i18n>
                    Der Text wird automatisch übernommen (<a (click)="toggleLinked()" class="clickable">deaktivieren</a
                    >).
                </mat-hint>
            }
        </mat-form-field>
    </p>

    <p i18n>Der Text wird mit dem <b>privaten Schlüssel</b> (n, d) entschlüsselt.</p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label i18n>Entschlüsselter Text</mat-label>
            <textarea matInput [ngModel]="decodedTargetText()" readonly rows="5"></textarea>
            <span
                matIconSuffix
                class="mat-mdc-icon-button not-clickable"
                matRipple
                [matRippleDisabled]="true"
                [matRippleCentered]="true"
                #successRipple
            >
                <app-check-mark
                    [checked]="decodedTargetText() === sourceText() ? true : linked() ? false : undefined"
                ></app-check-mark>
            </span>
        </mat-form-field>
    </p>
</div>
