<h1>RSA Verschlüsselung Demo</h1>

<p class="text-excerpt">
    RSA (Rivest-Shamir-Adleman) ist eine Form der asymmetrischen Verschlüsselung, bei der die Sicherheit auf der
    Schwierigkeit basiert, eine (sehr) große Zahl in ihre Primfaktoren zu zerlegen.
</p>

<p class="text-excerpt">
    Das Besondere an asymmetrischen Verschlüsselungen ist, dass der geheime private Schlüssel zum Verschlüsseln einer
    Nachricht nicht benötigt wird. Er muss daher nicht an den Absender übertragen werden und kann völlig geheim bleiben.
    Der Absender erhält nur den öffentlichen Schlüssel, mit dem die Nachricht nicht entschlüsselt werden kann.
</p>

<mat-accordion>
    <mat-expansion-panel
        [expanded]="section() === 'generate-key-pair'"
        (opened)="section.set('generate-key-pair')"
        (closed)="section.set('none')"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>Schlüsselpaar erzeugen</mat-panel-title>

            <mat-action-list>
                <button
                    mat-icon-button
                    (click)="generateKeyPairComponent.randomize($event)"
                    [attr.aria-label]="'Zufälligers Schlüsselpaar erzeugen'"
                    title="Zufälligers Schlüsselpaar erzeugen"
                >
                    <mat-icon>casino</mat-icon>
                </button>

                <button
                    mat-icon-button
                    (click)="generateKeyPairComponent.reset($event)"
                    [attr.aria-label]="'Daten zurücksetzen'"
                    title="Daten zurücksetzen"
                >
                    <mat-icon>cached</mat-icon>
                </button>
            </mat-action-list>
        </mat-expansion-panel-header>

        <app-generate-key-pair
            [(publicKey)]="publicKeyString"
            [(privateKey)]="privateKeyString"
            (publicKeyChange)="highlightPublicKeyField()"
            (privateKeyChange)="highlightPrivateKeyField()"
            #generateKeyPairComponent
        ></app-generate-key-pair>
    </mat-expansion-panel>
</mat-accordion>

<form>
    <div class="two-columns with-divider">
        <div>
            <p>
                Der <b>öffentliche Schlüssel</b> besteht aus den Werten von n und e und wird zum
                <b>Verschlüsseln von Nachrichten</b> verwendet.
            </p>

            <p>
                <mat-form-field
                    appearance="fill"
                    matRipple
                    [matRippleDisabled]="true"
                    [matRippleCentered]="true"
                    #publicKeyRipple
                >
                    <mat-label>Public Key (n, e)</mat-label>
                    <input
                        matInput
                        [(ngModel)]="publicKeyString"
                        name="publicKeyString"
                        placeholder="n, e"
                        required
                        [errorStateMatcher]="publicKeyErrorStateMatcher"
                    />
                    <button
                        mat-icon-button
                        matIconSuffix
                        [appCopy]="publicKeyString()"
                        [attr.aria-label]="'Public Key kopieren'"
                        title="Public Key kopieren"
                    >
                        <mat-icon>content_copy</mat-icon>
                    </button>
                    <mat-error>
                        Das Format ist nicht korrekt.
                        <a class="clickable" (click)="generateKeyPair()">Erzeuge ein Schlüsselpaar!</a>
                    </mat-error>
                </mat-form-field>
            </p>

            <p class="text-hint">
                Wenn du den öffentlichen Schlüssel an andere Personen weitergibst, dann können sie dir geheime
                Nachrichten senden.
            </p>
        </div>

        <div>
            <p>
                Der <b>private Schlüssel</b> besteht aus den Werten von n und d und wird zum
                <b>Entschlüsseln von Nachrichten</b> verwendet.
            </p>

            <p>
                <mat-form-field
                    appearance="fill"
                    matRipple
                    [matRippleDisabled]="true"
                    [matRippleCentered]="true"
                    #privateKeyRipple
                >
                    <mat-label>Private Key (n, d)</mat-label>
                    <input
                        matInput
                        [(ngModel)]="privateKeyString"
                        name="privateKeyString"
                        placeholder="n, d"
                        required
                        [errorStateMatcher]="privateKeyErrorStateMatcher"
                    />
                    <button
                        mat-icon-button
                        matIconSuffix
                        [appCopy]="privateKeyString()"
                        [attr.aria-label]="'Private Key kopieren'"
                        title="Private Key kopieren"
                    >
                        <mat-icon>content_copy</mat-icon>
                    </button>
                    <mat-error>
                        Das Format ist nicht korrekt.
                        <a class="clickable" (click)="generateKeyPair()">Erzeuge ein Schlüsselpaar!</a>
                    </mat-error>
                </mat-form-field>
            </p>

            <p class="text-hint">Der private Schlüssel muss für immer dein Geheimnis bleiben!</p>
        </div>
    </div>
</form>

<mat-accordion>
    <mat-expansion-panel
        [expanded]="section() === 'encrypt-number'"
        (opened)="section.set('encrypt-number')"
        (closed)="section.set('none')"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>Nummer verschlüsseln/entschlüsseln</mat-panel-title>

            <mat-action-list>
                <button
                    mat-icon-button
                    (click)="encryptNumberComponent()?.randomize($event)"
                    [attr.aria-label]="'Zufälliger Text'"
                    title="Zufälliger Text"
                >
                    <mat-icon>casino</mat-icon>
                </button>

                <button
                    mat-icon-button
                    (click)="encryptNumberComponent()?.reset($event)"
                    [attr.aria-label]="'Daten zurücksetzen'"
                    title="Daten zurücksetzen"
                >
                    <mat-icon>cached</mat-icon>
                </button>
            </mat-action-list>
        </mat-expansion-panel-header>

        @if (!publicKey() || !privateKey()) {
            <p class="text-error">Behebe zuerst noch die Fehler in den Eingabefeldern weiter oben!</p>
        } @else {
            <app-encrypt-number [publicKey]="publicKey()!" [privateKey]="privateKey()!"></app-encrypt-number>
        }
    </mat-expansion-panel>

    <mat-expansion-panel
        [expanded]="section() === 'encrypt-text'"
        (opened)="section.set('encrypt-text')"
        (closed)="section.set('none')"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>Text verschlüsseln/entschlüsseln</mat-panel-title>

            <mat-action-list>
                <button
                    mat-icon-button
                    (click)="encryptTextComponent()?.randomize($event)"
                    [attr.aria-label]="'Zufälliger Text'"
                    title="Zufälliger Text"
                >
                    <mat-icon>casino</mat-icon>
                </button>

                <button
                    mat-icon-button
                    (click)="encryptTextComponent()?.reset($event)"
                    [attr.aria-label]="'Daten zurücksetzen'"
                    title="Daten zurücksetzen"
                >
                    <mat-icon>cached</mat-icon>
                </button>
            </mat-action-list>
        </mat-expansion-panel-header>

        @if (!publicKey() || !privateKey()) {
            <p class="text-error">Behebe zuerst noch die Fehler in den Eingabefeldern weiter oben!</p>
        } @else {
            <app-encrypt-text [publicKey]="publicKey()!" [privateKey]="privateKey()!"></app-encrypt-text>
        }
    </mat-expansion-panel>
</mat-accordion>
