<div>
    <h3>Nummer verschlüsseln</h3>

    <p>
        <mat-form-field appearance="fill">
            <mat-label>Zahl m (zu verschlüsseln)</mat-label>
            <input matInput [(ngModel)]="decodedNumber" type="number" min="0" [max]="publicKey().n - 1" required />
            <button
                mat-icon-button
                matIconSuffix
                (click)="randomizeDecodedNumber()"
                [attr.aria-label]="'Passende Zufallszahl erzeugen'"
                title="Passende Zufallszahl erzeugen"
            >
                <mat-icon>casino</mat-icon>
            </button>
            <mat-error>Der Wert muss zwischen 0 und {{ publicKey().n - 1 }} liegen.</mat-error>
        </mat-form-field>
    </p>

    <p>Die Zahl m wird mit dem <b>öffentlichen Schlüssel</b> (n, e) verschlüsselt.</p>

    <div class="chalkboard">
        <p>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mrow>
                    <mi>c</mi>
                    <mo>(</mo>
                    <mi>m</mi>
                    <mo>)</mo>
                    <mo>=</mo>
                    <msup>
                        <mi>m</mi>
                        <mi>e</mi>
                    </msup>
                    <mo>mod</mo>
                    <mi>n</mi>
                </mrow>
            </math>
        </p>

        <p>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mrow>
                    <mi>c</mi>
                    <mo>(</mo>
                    <mi>{{ decodedNumber() }}</mi>
                    <mo>)</mo>
                    <mo>=</mo>
                    <msup>
                        <mi>{{ decodedNumber() }}</mi>
                        <mi>{{ publicKey().e }}</mi>
                    </msup>
                    <mo>mod</mo>
                    <mi>{{ publicKey().n }}</mi>
                </mrow>
            </math>
        </p>

        <p>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mrow class="text-strong">
                    <mi>c</mi>
                    <mo>(</mo>
                    <mi>{{ decodedNumber() }}</mi>
                    <mo>)</mo>
                    <mo>=</mo>
                    <mi>{{ decodedNumberEncoded() }}</mi>
                </mrow>
            </math>
        </p>
    </div>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Verschlüsselte Zahl c</mat-label>
            <input matInput [ngModel]="decodedNumberEncoded()" type="number" readonly />
            <button
                mat-icon-button
                matIconSuffix
                [appCopy]="'' + decodedNumberEncoded()"
                [attr.aria-label]="'Verschlüsselte Zahl kopieren'"
                title="Verschlüsselte Zahl kopieren"
            >
                <mat-icon>content_copy</mat-icon>
            </button>
        </mat-form-field>
    </p>
</div>

<div>
    <h3>Nummer entschlüsseln</h3>

    <p>
        <mat-form-field appearance="fill">
            <mat-label>Zahl c (zu entschlüsseln)</mat-label>
            <input
                matInput
                [(ngModel)]="encodedNumber"
                type="number"
                min="0"
                [max]="publicKey().n - 1"
                required
                [disabled]="linked()"
            />
            <button
                mat-icon-button
                matIconSuffix
                (click)="toggleLinked()"
                [attr.aria-label]="'Automatisch von verschlüsselter Zahl übernehmen'"
                title="Automatisch von verschlüsselter Zahl übernehmen"
            >
                @if (linked()) {
                    <mat-icon>link</mat-icon>
                } @else {
                    <mat-icon>link_off</mat-icon>
                }
            </button>
            <mat-error>Der Wert muss zwischen 0 und {{ privateKey().n - 1 }} liegen.</mat-error>

            @if (linked()) {
                <mat-hint align="end">
                    Als Wert wird automatisch c übernommen (<a (click)="toggleLinked()" class="clickable"
                        >deaktivieren</a
                    >).
                </mat-hint>
            }
        </mat-form-field>
    </p>

    <p>Die Zahl c wird mit dem <b>privaten Schlüssel</b> (n, d) entschlüsselt.</p>

    <div class="chalkboard">
        <p>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mrow>
                    <mi>m</mi>
                    <mo>(</mo>
                    <mi>c</mi>
                    <mo>)</mo>
                    <mo>=</mo>
                    <msup>
                        <mi>m</mi>
                        <mi>d</mi>
                    </msup>
                    <mo>mod</mo>
                    <mi>n</mi>
                </mrow>
            </math>
        </p>

        <p>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mrow>
                    <mi>m</mi>
                    <mo>(</mo>
                    <mi>{{ encodedNumber() }}</mi>
                    <mo>)</mo>
                    <mo>=</mo>
                    <msup>
                        <mi>{{ encodedNumber() }}</mi>
                        <mi>{{ privateKey().d }}</mi>
                    </msup>
                    <mo>mod</mo>
                    <mi>{{ privateKey().n }}</mi>
                </mrow>
            </math>
        </p>

        <p>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mrow class="text-strong">
                    <mi>m</mi>
                    <mo>(</mo>
                    <mi>{{ encodedNumber() }}</mi>
                    <mo>)</mo>
                    <mo>=</mo>
                    <mi>{{ encodedNumberDecoded() }}</mi>
                </mrow>
            </math>
        </p>
    </div>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Entschlüsselte Zahl m</mat-label>
            <input matInput [ngModel]="encodedNumberDecoded()" type="number" readonly />
            <span
                matIconSuffix
                class="mat-mdc-icon-button not-clickable"
                matRipple
                [matRippleDisabled]="true"
                [matRippleCentered]="true"
                #successRipple
            >
                <app-check-mark
                    [checked]="encodedNumberDecoded() === decodedNumber() ? true : undefined"
                ></app-check-mark>
            </span>
        </mat-form-field>
    </p>
</div>
